# Ignore files related to IDEs and editors
# This will prevent IDE-specific files from cluttering your repository
.idea
*.swp
*.swo

# Ignore Go module cache
# The Go module cache stores downloaded dependencies and should not be committed
go.sum

# Ignore OS-specific files
# These are OS-specific files that do not need to be committed
.DS_Store
Thumbs.db

vendor/
