{
    "swagger": "2.0",
    "info": {
      "title": "Webitel Knowledgebase API",
      "version": "v23.10",
      "contact": {
        "name": "Webitel LLC",
        "url": "https://www.webitel.com",
        "email": "support@webitel.com"
      },
      "license": {
        "name": "MIT"
      }
    },
    "tags": [
      {
        "name": "Articles"
      },
      {
        "name": "Spaces"
      }
    ],
    "host": "nx.webitel.org",
    "basePath": "/api",
    "schemes": [
      "https"
    ],
    "consumes": [
      "application/json"
    ],
    "produces": [
      "application/json"
    ],
    "paths": {
      "/spaces": {
        "get": {
          "description": "| Field       | Type \n| ----------- | ---- \n| **----------- READ-ONLY -----------** | \n| `id`        | int64 \n| `ver`       | int32 \n| `etag`      | string \n| **---------- OPERATIONAL ----------** | \n| `created_at` | int64(epoch:milli) \n| `created_by` | lookup(user) \n| `updated_at` | int64(epoch:milli) \n| `updated_by` | lookup(user) \n| **---------- ATTRIBUTES -----------** | \n| `name`      | name! \n| `home_page`   | string (home_page) \n| `state`       | bool \n| `has_children`| bool \n",
          "operationId": "Spaces_ListSpaces",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.SpaceList"
              }
            }
          },
          "parameters": [
            {
              "name": "page",
              "in": "query",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "size",
              "description": "Limit of result page records count.   _default(16); limit=(size\u003c=0?-1:size+1);_\n\n```javascript\nconst\n    default = 16\n  , maximum = 32\n;\n\n```",
              "in": "query",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "q",
              "description": "Search term:\n`?` - matches any character\n`*` - matches 0 or more characters\nUsed to query records within a set of `qin` fields, eg: name, etc...",
              "in": "query",
              "required": false,
              "type": "string"
            },
            {
              "name": "sort",
              "description": "Sort result dataset of records by fields.\n```\nsort ::= *( ORDER name )\n\nORDER  = ASC / DESC\nDESC   = \"-\" / \"!\"\nASC    = [ \"+\" ]   ; Default\n```\n\nFields available\n\n- `id`(seq)\n- `domain`{name}\n- `state`",
              "in": "query",
              "required": false,
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "default": "id",
                "pattern": "^[+|-|!]?\\w+$"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "fields",
              "in": "query",
              "required": false,
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "default": "*"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "id",
              "description": "Records with unique IDentifier(s).\nAccept: `id` -or- `etag`.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Spaces"
          ]
        },
        "post": {
          "summary": "Create NEW Space",
          "operationId": "Spaces_CreateSpace",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.Space"
              }
            }
          },
          "parameters": [
            {
              "name": "input",
              "description": "NEW Spaces source changes",
              "in": "body",
              "required": true,
              "schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "$ref": "#/definitions/webitel.knowledgebase.InputSpace"
                }
              }
            },
            {
              "name": "fields",
              "description": "Source Fields to return into result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Spaces"
          ]
        }
      },
      "/spaces/{etag}": {
        "get": {
          "summary": "Locate spaces source",
          "operationId": "Spaces_LocateSpaces",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.Space"
              }
            }
          },
          "parameters": [
            {
              "name": "etag",
              "description": "The Space source IDentifier.\nAccept: `etag` (obsolete+) or `id`.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "fields",
              "description": "Source Fields to return into result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Spaces"
          ]
        },
        "delete": {
          "summary": "Remove Space source",
          "operationId": "Spaces_DeleteSpace",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.Space"
              }
            }
          },
          "parameters": [
            {
              "name": "etag",
              "description": "Unique ID of the latest version of a resource.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved into result of changes.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Spaces"
          ]
        },
        "patch": {
          "summary": "NEW Update of the Space source",
          "operationId": "Spaces_UpdateSpace",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.Space"
              }
            }
          },
          "parameters": [
            {
              "name": "etag",
              "description": "Unique ID of the latest version of an existing resorce.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "input",
              "description": "NEW Space source changes",
              "in": "body",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Represents the name of the knowledge base space."
                  },
                  "home_page": {
                    "type": "string",
                    "description": "BIO. Short description about the space.\nOPTIONAL. Multi-lined text."
                  },
                  "state": {
                    "type": "boolean",
                    "description": "The state of the space."
                  }
                },
                "title": "NEW Space source changes"
              }
            },
            {
              "name": "fields",
              "description": "Source Fields to return into result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Spaces"
          ]
        }
      },
      "/spaces/{space_id}/articles": {
        "get": {
          "summary": "List of the Space's Article(s).",
          "operationId": "Articles_ListArticles",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.ArticleList"
              }
            }
          },
          "parameters": [
            {
              "name": "space_id",
              "description": "Space ID associated with.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "page",
              "description": "Page number of result dataset records. offset = (page*size)",
              "in": "query",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "size",
              "description": "Size count of records on result page. limit = (size++)",
              "in": "query",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "sort",
              "description": "Sort the result according to fields.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved as a result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "q",
              "description": "Search term: location name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
              "in": "query",
              "required": false,
              "type": "string"
            },
            {
              "name": "article_id",
              "description": "Record(s) with unique ID only.",
              "in": "query",
              "required": false,
              "type": "string"
            },
            {
              "name": "state",
              "description": "Active Article only.",
              "in": "query",
              "required": false,
              "type": "boolean"
            }
          ],
          "tags": [
            "Articles"
          ]
        },
        "post": {
          "operationId": "Articles_CreateArticle",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.ArticleList"
              }
            }
          },
          "parameters": [
            {
              "name": "space_id",
              "description": "Link space ID.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "input",
              "description": "NEW Update of the Article link.",
              "in": "body",
              "required": true,
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.InputArticle"
              }
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved into result of changes.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Articles"
          ]
        }
      },
      "/spaces/{space_id}/articles/{article_id}/childrens": {
        "get": {
          "summary": "List of the Space's Article(s).",
          "operationId": "Articles_ListArticles2",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.ArticleList"
              }
            }
          },
          "parameters": [
            {
              "name": "space_id",
              "description": "Space ID associated with.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "article_id",
              "description": "Record(s) with unique ID only.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "page",
              "description": "Page number of result dataset records. offset = (page*size)",
              "in": "query",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "size",
              "description": "Size count of records on result page. limit = (size++)",
              "in": "query",
              "required": false,
              "type": "integer",
              "format": "int32"
            },
            {
              "name": "sort",
              "description": "Sort the result according to fields.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved as a result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            },
            {
              "name": "q",
              "description": "Search term: location name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
              "in": "query",
              "required": false,
              "type": "string"
            },
            {
              "name": "state",
              "description": "Active Article only.",
              "in": "query",
              "required": false,
              "type": "boolean"
            }
          ],
          "tags": [
            "Articles"
          ]
        }
      },
      "/spaces/{space_id}/articles/{etag}": {
        "get": {
          "summary": "Locate the space's Article association.",
          "operationId": "Articles_LocateArticle",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.Article"
              }
            }
          },
          "parameters": [
            {
              "name": "space_id",
              "description": "Space ID associated with.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "etag",
              "description": "Unique Article link IDentifier.\nAccept: `etag` (obsolete+) or `id`.",
              "in": "path",
              "required": true,
              "type": "string",
              "format": "\\w+"
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved into result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Articles"
          ]
        },
        "delete": {
          "summary": "Remove the space's Article association.",
          "operationId": "Articles_DeleteArticle",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.Article"
              }
            }
          },
          "parameters": [
            {
              "name": "space_id",
              "description": "Space ID associated with.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "etag",
              "description": "Unique ID to remove.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved as a result.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Articles"
          ]
        },
        "patch": {
          "summary": "Update the space's Article details.",
          "operationId": "Articles_UpdateArticle",
          "responses": {
            "200": {
              "description": "A successful response.",
              "schema": {
                "$ref": "#/definitions/webitel.knowledgebase.ArticleList"
              }
            }
          },
          "parameters": [
            {
              "name": "space_id",
              "description": "Link space ID.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "etag",
              "description": "Unique ID of the latest version of an existing resource.",
              "in": "path",
              "required": true,
              "type": "string"
            },
            {
              "name": "input",
              "description": "NEW Update of the Article link.",
              "in": "body",
              "required": true,
              "schema": {
                "type": "object",
                "properties": {
                  "space_id": {
                    "type": "string",
                    "format": "int64",
                    "description": "[VALUE]: --------------------------------------\nSpace ID associated with."
                  },
                  "state": {
                    "type": "boolean",
                    "description": "Indicates if article is active and actual."
                  },
                  "text": {
                    "type": "string",
                    "description": "The text content of the article."
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Tags associated with the article."
                  },
                  "title": {
                    "type": "string",
                    "description": "The title of the article."
                  },
                  "parent_article": {
                    "type": "string",
                    "format": "int64",
                    "description": "The parent article ID."
                  }
                },
                "title": "NEW Update of the Article link."
              }
            },
            {
              "name": "fields",
              "description": "Fields to be retrieved into result of changes.",
              "in": "query",
              "required": false,
              "type": "array",
              "items": {
                "type": "string"
              },
              "collectionFormat": "multi"
            }
          ],
          "tags": [
            "Articles"
          ]
        }
      }
    },
    "definitions": {
      "webitel.knowledgebase.Article": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the association. Never changes."
          },
          "ver": {
            "type": "integer",
            "format": "int32",
            "description": "READONLY. Operational attributes\nVersion of the latest update. Numeric sequence."
          },
          "etag": {
            "type": "string",
            "description": "Unique ID of the latest version of the update.\nThis ID changes after any update to the underlying value(s)."
          },
          "created_at": {
            "type": "string",
            "format": "int64",
            "description": "The user who created this Field."
          },
          "created_by": {
            "$ref": "#/definitions/webitel.knowledgebase.Lookup",
            "description": "Timestamp(milli) of the Field creation."
          },
          "updated_at": {
            "type": "string",
            "format": "int64",
            "description": "Timestamp(milli) of the last Field update.\nTake part in Etag generation."
          },
          "updated_by": {
            "$ref": "#/definitions/webitel.knowledgebase.Lookup",
            "description": "The user who performed last Update."
          },
          "space_id": {
            "type": "string",
            "format": "int64",
            "description": "Space ID associated with."
          },
          "state": {
            "type": "boolean",
            "description": "Indicates the state of the article."
          },
          "text": {
            "type": "string",
            "description": "The text content of the article."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the article."
          },
          "title": {
            "type": "string",
            "description": "The title of the article."
          },
          "parent_article": {
            "type": "string",
            "format": "int64",
            "description": "The parent article ID."
          },
          "has_children": {
            "type": "boolean",
            "description": "Indicates that the article has children."
          }
        }
      },
      "webitel.knowledgebase.ArticleList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/definitions/webitel.knowledgebase.Article"
            },
            "description": "Article dataset page."
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "The page number of the partial result."
          },
          "next": {
            "type": "boolean",
            "title": "Indicates that this is a partial result.\nMore data available upon query: ?size=${data.len}\u0026page=${page++}"
          }
        },
        "description": "Article dataset.\nNOTE: Edge represents connection between two nodes.\nSo this spaceArticles.data are always subordinate to some space.id."
      },
      "webitel.knowledgebase.InputArticle": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string",
            "description": "Unique ID of the latest version of an existing resource."
          },
          "space_id": {
            "type": "string",
            "format": "int64",
            "description": "[VALUE]: --------------------------------------\nSpace ID associated with."
          },
          "state": {
            "type": "boolean",
            "description": "Indicates if article is active and actual."
          },
          "text": {
            "type": "string",
            "description": "The text content of the article."
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Tags associated with the article."
          },
          "title": {
            "type": "string",
            "description": "The title of the article."
          },
          "parent_article": {
            "type": "string",
            "format": "int64",
            "description": "The parent article ID."
          }
        },
        "description": "An input of the Space's Articles.",
        "required": [
          "etag"
        ]
      },
      "webitel.knowledgebase.InputSpace": {
        "type": "object",
        "properties": {
          "etag": {
            "type": "string",
            "description": "Unique ID of the latest version of an existing resorce."
          },
          "name": {
            "type": "string",
            "description": "Represents the name of the knowledge base space."
          },
          "home_page": {
            "type": "string",
            "description": "BIO. Short description about the space.\nOPTIONAL. Multi-lined text."
          },
          "state": {
            "type": "boolean",
            "description": "The state of the space."
          }
        },
        "description": "The Space principal input."
      },
      "webitel.knowledgebase.Lookup": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Reference Object unique ID."
          },
          "type": {
            "type": "string",
            "description": "Reference Object well-known type."
          },
          "name": {
            "type": "string",
            "description": "Reference Object display name."
          }
        },
        "description": "Lookup reference information.\nSimplified search filter to uniquely identify related object."
      },
      "webitel.knowledgebase.Space": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique ID of the association. Never changes."
          },
          "ver": {
            "type": "integer",
            "format": "int32",
            "description": "READONLY. Operational attributes\nVersion of the latest update. Numeric sequence."
          },
          "etag": {
            "type": "string",
            "description": "Unique ID of the latest version of the update.\nThis ID changes after any update to the underlying value(s)."
          },
          "mode": {
            "type": "string",
            "description": "[R]ecord[b]ased[A]ccess[C]ontrol mode granted."
          },
          "domain": {
            "$ref": "#/definitions/webitel.knowledgebase.Lookup",
            "description": "READONLY. The space's metadata."
          },
          "created_at": {
            "type": "string",
            "format": "int64",
            "description": "The timestamp when the space was created (in Unix time)."
          },
          "created_by": {
            "$ref": "#/definitions/webitel.knowledgebase.Lookup",
            "description": "The user who created the space."
          },
          "updated_at": {
            "type": "string",
            "format": "int64",
            "description": "The timestamp when the space was last updated (in Unix time)."
          },
          "updated_by": {
            "$ref": "#/definitions/webitel.knowledgebase.Lookup",
            "description": "The user who last updated the space."
          },
          "name": {
            "type": "string",
            "description": "The name of the space."
          },
          "home_page": {
            "type": "string",
            "description": "BIO. Short description about the space."
          },
          "state": {
            "type": "boolean",
            "description": "The state of the space."
          },
          "has_children": {
            "type": "boolean",
            "description": "Indicates if the space has children."
          }
        }
      },
      "webitel.knowledgebase.SpaceList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "$ref": "#/definitions/webitel.knowledgebase.Space"
            },
            "description": "Space(s) dataset page."
          },
          "page": {
            "type": "integer",
            "format": "int32",
            "description": "The page number of the partial result."
          },
          "next": {
            "type": "boolean",
            "title": "Indicates that this is a partial result.\nMore data available upon query: ?size=${data.len}\u0026page=${page++}"
          }
        }
      }
    },
    "securityDefinitions": {
      "AccessToken": {
        "type": "apiKey",
        "name": "X-Webitel-Access",
        "in": "header"
      }
    },
    "security": [
      {
        "AccessToken": []
      }
    ]
  }
  