{
  "swagger": "2.0",
  "info": {
    "title": "Webitel Messages ReSTfull API",
    "version": "v23.07",
    "contact": {
      "name": "Webitel LLC",
      "url": "https://www.webitel.com",
      "email": "support@webitel.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "tags": [
    {
      "name": "Messages",
      "description": "**Messages** Service"
    },
    {
      "name": "ContactLinkingService"
    },
    {
      "name": "ContactsChatCatalog"
    },
    {
      "name": "AgentChatService"
    }
  ],
  "host": "nx.webitel.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/chat/broadcast": {
      "post": {
        "summary": "Broadcast message send message from via to peer recipients.",
        "operationId": "BroadcastMessage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.BroadcastMessageResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/google.rpc.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.chat.BroadcastMessageRequest"
            }
          }
        ],
        "tags": [
          "MessagesService"
        ]
      }
    },
    "/agent/chats": {
      "get": {
        "operationId": "AgentChatService_GetAgentChats",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.GetAgentChatsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "size",
            "description": "default",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "only_closed",
            "description": "filter",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "only_unprocessed",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "AgentChatService"
        ]
      }
    },
    "/agent/chats/{chat_id}": {
      "patch": {
        "operationId": "AgentChatService_MarkChatProcessed",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.MarkChatProcessedResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "chat_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "AgentChatService"
        ]
      }
    },
    "/chat/customers": {
      "get": {
        "summary": "Query of external chat customers",
        "operationId": "Catalog_GetCustomers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.ChatCustomers"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number to return. **default**: 1.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Page records limit. **default**: 16.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: peer{id,name}",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort records by { fields } specification.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields [Q]uery to build result dataset record.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Set of unique contact **ID**entifier(s).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "type",
            "description": "The type of contact to filter.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.type",
            "description": "Contact **type** provider.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/chat/dialogs": {
      "get": {
        "summary": "Query of chat conversations",
        "operationId": "Catalog_GetDialogs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.ChatDialogs"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number to return. **default**: 1.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Page records limit. **default**: 16.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: peer.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort records by { fields } specification.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields [Q]uery to build result dataset record.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Set of unique chat IDentifier(s).\nAccept: dialog -or- member ID.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "via.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.type",
            "description": "Contact **type** provider.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.type",
            "description": "Contact **type** provider.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "date.since",
            "description": "Since epochtime (milli).\n**Match**: greater than ..",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "date.until",
            "description": "Until epochtime (milli).\n**Match**: less or equal ..",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "online",
            "description": "Dialogs ONLY that are currently [not] active( closed: ? ).",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "group[string]",
            "description": "This is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/chat/dialogs/{chat_id}/members": {
      "get": {
        "summary": "Query of chat participants",
        "operationId": "Catalog_GetMembers",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.ChatMembers"
            }
          }
        },
        "parameters": [
          {
            "name": "chat_id",
            "description": "ID of the chat dialog.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "description": "Page number to return. **default**: 1.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Page records limit. **default**: 16.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: peer(type;name)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort records by { fields } specification.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields [Q]uery to build result dataset record.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Set of unique chat member ID.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "via.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.type",
            "description": "Contact **type** provider.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "via.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.type",
            "description": "Contact **type** provider.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "date.since",
            "description": "Since epochtime (milli).\n**Match**: greater than ..",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "date.until",
            "description": "Until epochtime (milli).\n**Match**: less or equal ..",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "online",
            "description": "Participants ONLY who are currently [not] connected to the chat.\n( left: ( 0 ? online : offline ) )",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "joined",
            "description": "Participants ONLY who have [not] been connected to the chat.\n( join: ( 0 ? [request|abandoned] : connected ) )",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/chat/dialogs/{chat_id}/messages": {
      "get": {
        "summary": "Query of the chat history",
        "operationId": "Catalog_GetHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.ChatMessages"
            }
          }
        },
        "parameters": [
          {
            "name": "chat_id",
            "description": "Unique chat dialog",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset.id",
            "description": "Messages ONLY starting from the specified message ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "offset.date",
            "description": "Messages ONLY been sent before the specified epochtime(milli).",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "limit",
            "description": "Number of messages to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: message.text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to return into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "peer.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.type",
            "description": "Contact **type** provider.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group[string]",
            "description": "This is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/chat/{conversation_id}/contact": {
      "post": {
        "summary": "CreateContactFromConversation creates new contact from the data existing in the conversation and after that links this contact to the external user.",
        "operationId": "ContactLinkingService_CreateContactFromConversation",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.Lookup"
            }
          }
        },
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "timezone.id",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "timezone.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "owner.id",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "owner.name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ContactLinkingService"
        ]
      }
    },
    "/chat/{conversation_id}/link": {
      "post": {
        "summary": "LinkContactToClient creates connection between existing internal contact and external client.",
        "operationId": "ContactLinkingService_LinkContactToClient",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.EmptyResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "conversation_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "contact_id",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ContactLinkingService"
        ]
      }
    },
    "/chat/{peer.type}/{peer.id}/messages": {
      "get": {
        "summary": "Query of the chat history",
        "operationId": "Catalog_GetHistory2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.ChatMessages"
            }
          }
        },
        "parameters": [
          {
            "name": "peer.type",
            "description": "Contact **type** provider.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "peer.id",
            "description": "Contact unique **ID**entifier.\nContact **type**-specific string.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset.id",
            "description": "Messages ONLY starting from the specified message ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "offset.date",
            "description": "Messages ONLY been sent before the specified epochtime(milli).",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "limit",
            "description": "Number of messages to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: message.text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to return into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "chat_id",
            "description": "Unique chat dialog",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "peer.name",
            "description": "Contact display **name**.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group[string][string]",
            "description": "This is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/contacts/{contact_id}/chat/messages": {
      "get": {
        "operationId": "ContactsChatCatalog_GetContactChatHistory2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.GetContactChatHistoryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact identificator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset.id",
            "description": "Messages ONLY starting from the specified message ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "offset.date",
            "description": "Messages ONLY been sent before the specified epochtime(milli).",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "size",
            "description": "Number of messages to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: message.text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to return into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "chat_id",
            "description": "Unique chat dialog",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "group[string][string]",
            "description": "This is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ContactsChatCatalog"
        ]
      }
    },
    "/contacts/{contact_id}/chat/{chat_id}/messages": {
      "get": {
        "operationId": "ContactsChatCatalog_GetContactChatHistory",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.chat.GetContactChatHistoryResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact identificator",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "chat_id",
            "description": "Unique chat dialog",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "offset.id",
            "description": "Messages ONLY starting from the specified message ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "offset.date",
            "description": "Messages ONLY been sent before the specified epochtime(milli).",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "size",
            "description": "Number of messages to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: message.text",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to return into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "group[string]",
            "description": "This is a request variable of the map type. The query format is \"map_name[key]=value\", e.g. If the map name is Age, the key type is string, and the value type is integer, the query parameter is expressed as Age[\"bob\"]=18",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ContactsChatCatalog"
        ]
      }
    }
  },
  "definitions": {
    "webitel.chat.AgentChat": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "Chat id"
        },
        "title": {
          "type": "string",
          "title": "Chat title"
        },
        "gateway": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "title": "Chat gateway"
        },
        "started_at": {
          "type": "string",
          "format": "int64",
          "title": "Chat time length"
        },
        "closed_at": {
          "type": "string",
          "format": "int64"
        },
        "last_message": {
          "$ref": "#/definitions/webitel.chat.Message",
          "title": "Chat first message"
        },
        "queue": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "title": "Queue name"
        },
        "close_reason": {
          "type": "string",
          "title": "Close reason (from agent perspective)"
        },
        "unprocessed_close": {
          "type": "boolean",
          "title": "Special attribute for the closed-active chats (on fact closed but should be on active tab on the front-end)\ncan be true only when close reason = any(\"client_leave\", \"client_timeout\", \"agent_timeout\", \"silence_timeout\")"
        },
        "contact": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "title": "Connected contact"
        }
      }
    },
    "webitel.chat.Button": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Caption to display."
        },
        "url": {
          "type": "string",
          "description": "URL to navigate to .."
        },
        "code": {
          "type": "string",
          "description": "Postback/Callback data."
        },
        "share": {
          "$ref": "#/definitions/webitel.chat.Button.Request",
          "description": "Request to share contact info."
        }
      }
    },
    "webitel.chat.Button.Request": {
      "type": "string",
      "enum": [
        "phone",
        "email",
        "contact",
        "location"
      ],
      "default": "phone",
      "description": "- phone: Phone Number\n - email: Email Address\n - contact: General Form\n - location: Current Location",
      "title": "Type of request to share contact info"
    },
    "webitel.chat.ButtonRow": {
      "type": "object",
      "properties": {
        "row": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Button"
          },
          "title": "Button(s) in a row"
        }
      }
    },
    "webitel.chat.Chat": {
      "type": "object",
      "properties": {
        "dc": {
          "type": "string",
          "format": "int64",
          "description": "[D]omain[C]omponent primary ID."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this chat.\n[FROM] Member / Channel ID.\n\n// [TO] Group. Conversation ID.\n string chat_id = 2;"
        },
        "via": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "description": "[FROM] VIA text gateway profile."
        },
        "peer": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "description": "[FROM]: User identity. Seed."
        },
        "title": {
          "type": "string",
          "description": "[TO]: Chat title."
        },
        "left": {
          "type": "string",
          "format": "int64",
          "title": "OPTIONAL. A non-zero value indicates that\nthe participant has left the chat. OFFLINE(!)"
        },
        "join": {
          "type": "string",
          "format": "int64",
          "description": "OPTIONAL. A non-zero value indicates that\nthe participant has joined the chat."
        },
        "invite": {
          "$ref": "#/definitions/webitel.chat.Chat.Invite",
          "description": "OPTIONAL. Invite[d] BY member info."
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Context. Variables."
        },
        "queue": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "title": "OPTIONAL. Last dialog queue"
        }
      },
      "description": "The Chat info.\nAlias: participant, subscriber, member, peer, leg."
    },
    "webitel.chat.Chat.Invite": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp when the invitation to join the chat was sent"
        },
        "from": {
          "type": "string",
          "title": "Chat member ID who invited to join the chat"
        }
      }
    },
    "webitel.chat.ChatCustomers": {
      "type": "object",
      "properties": {
        "peers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Customer"
          },
          "description": "Dataset page of Customer(s)."
        },
        "vias": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Peer"
          },
          "title": "List of unique text gateways, mentioned in peers. [VIA]"
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number of results."
        },
        "next": {
          "type": "boolean",
          "title": "Next page is available ?"
        }
      },
      "title": "ChatCustomers dataset"
    },
    "webitel.chat.ChatDialogs": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Dialog"
          },
          "description": "Dataset page of Dialog(s)."
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number of results."
        },
        "next": {
          "type": "boolean",
          "title": "Next page available ?"
        }
      },
      "title": "ChatDialogs dataset"
    },
    "webitel.chat.ChatMembers": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Chat"
          },
          "description": "Page of the chat participants."
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number of results."
        },
        "next": {
          "type": "boolean",
          "title": "Next page available ?"
        }
      },
      "title": "ChatMembers dataset"
    },
    "webitel.chat.ChatMessage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Unique message identifier inside this chat."
        },
        "date": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp when this message was sent (published)."
        },
        "from": {
          "$ref": "#/definitions/webitel.chat.ChatPeer",
          "description": "Sender of the message."
        },
        "chat": {
          "$ref": "#/definitions/webitel.chat.ContactChat",
          "description": "Conversation the message belongs to .."
        },
        "sender": {
          "$ref": "#/definitions/webitel.chat.ContactChat",
          "description": "Chat Sender of the message, sent on behalf of a chat (member)."
        },
        "edit": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp when this message was last edited."
        },
        "text": {
          "type": "string",
          "description": "Message Text."
        },
        "file": {
          "$ref": "#/definitions/webitel.chat.MessageFile",
          "description": "Message Media. Attachment."
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Context. Variables. Environment."
        },
        "keyboard": {
          "$ref": "#/definitions/webitel.chat.MessageReplyMarkup",
          "description": "Keyboard. Buttons. Quick Replies."
        },
        "postback": {
          "$ref": "#/definitions/webitel.chat.MessagePostback",
          "description": "Postback. Reply Button Click[ed]."
        }
      },
      "description": "Chat Message."
    },
    "webitel.chat.ChatMessages": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Message"
          },
          "description": "Dataset page of messages."
        },
        "chats": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Chat"
          },
          "title": "List of chats mentioned in messages. [FROM]"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Peer"
          },
          "title": "List of peers mentioned in messages. [FROM]"
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Dataset page number."
        },
        "next": {
          "type": "boolean",
          "title": "Next page is available ?"
        }
      },
      "title": "ChatMessages dataset"
    },
    "webitel.chat.ChatMessagesRequest.Offset": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Messages ONLY starting from the specified message ID"
        },
        "date": {
          "type": "string",
          "format": "int64",
          "description": "Messages ONLY been sent before the specified epochtime(milli)."
        }
      },
      "title": "Offset options"
    },
    "webitel.chat.ChatPeer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Contact unique **ID**entifier.\nContact **type**-specific string."
        },
        "type": {
          "type": "string",
          "description": "Contact **type** provider."
        },
        "name": {
          "type": "string",
          "description": "Contact display **name**."
        }
      },
      "description": "Peer contact."
    },
    "webitel.chat.ContactChat": {
      "type": "object",
      "properties": {
        "dc": {
          "type": "string",
          "format": "int64",
          "description": "[D]omain[C]omponent primary ID."
        },
        "id": {
          "type": "string",
          "description": "Unique identifier for this chat.\n[FROM] Member / Channel ID.\n\n// [TO] Group. Conversation ID.\n string chat_id = 2;"
        },
        "via": {
          "$ref": "#/definitions/webitel.chat.ChatPeer",
          "description": "[FROM] VIA text gateway profile."
        },
        "peer": {
          "$ref": "#/definitions/webitel.chat.ChatPeer",
          "description": "[FROM]: User identity. Seed."
        },
        "title": {
          "type": "string",
          "description": "[TO]: Chat title."
        },
        "left": {
          "type": "string",
          "format": "int64",
          "title": "OPTIONAL. A non-zero value indicates that\nthe participant has left the chat. OFFLINE(!)"
        },
        "join": {
          "type": "string",
          "format": "int64",
          "description": "OPTIONAL. A non-zero value indicates that\nthe participant has joined the chat."
        },
        "invite": {
          "$ref": "#/definitions/webitel.chat.ContactChat.Invite",
          "description": "OPTIONAL. Invite[d] BY member info."
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Context. Variables."
        }
      },
      "description": "The Chat info.\nAlias: participant, subscriber, member, peer, leg."
    },
    "webitel.chat.ContactChat.Invite": {
      "type": "object",
      "properties": {
        "date": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp when the invitation to join the chat was sent"
        },
        "from": {
          "type": "string",
          "title": "Chat member ID who invited to join the chat"
        }
      }
    },
    "webitel.chat.Customer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Customer unique **ID**entifier.\nAccount **type**-specific string."
        },
        "type": {
          "type": "string",
          "description": "Customer account **type**."
        },
        "name": {
          "type": "string",
          "description": "Customer account **name**."
        },
        "via": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Peer"
          },
          "description": "[VIA] Text gateway associations."
        }
      },
      "description": "Customer is external chat contact."
    },
    "webitel.chat.Dialog": {
      "type": "object",
      "properties": {
        "dc": {
          "type": "string",
          "format": "int64",
          "description": "[D]omain[C]omponent primary ID."
        },
        "id": {
          "type": "string",
          "description": "The Conversation thread unique ID."
        },
        "via": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "description": "[VIA] Text gateway [FROM] originated thru ..."
        },
        "from": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "description": "[FROM]: Originator.\nLeg[A]. Contact / User."
        },
        "date": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp of the latest activity."
        },
        "title": {
          "type": "string",
          "description": "Title of the dialog."
        },
        "closed": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp when dialog was closed.\nZero value means - connected (online)\nOtherwise - disconnected (offline)"
        },
        "started": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp when dialog started."
        },
        "message": {
          "$ref": "#/definitions/webitel.chat.Message",
          "description": "The latest (top) message."
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Context. Variables. Environment."
        },
        "members": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.Chat"
          },
          "description": "[TO]: Participants.\nLeg[A+]. Schema / Agent."
        },
        "closed_cause": {
          "type": "string",
          "title": "Close reason if closed from the request sender perspective"
        },
        "queue": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "title": "OPTIONAL. Last dialog queue"
        }
      },
      "description": "Chat Dialog. Conversation info."
    },
    "webitel.chat.EmptyResponse": {
      "type": "object"
    },
    "webitel.chat.File": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "File location"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "title": "Size in bytes"
        },
        "type": {
          "type": "string",
          "title": "MIME media type"
        },
        "name": {
          "type": "string",
          "title": "Filename"
        },
        "url": {
          "type": "string",
          "title": "File url (optional)"
        }
      },
      "description": "Media File."
    },
    "webitel.chat.GetAgentChatsResponse": {
      "type": "object",
      "properties": {
        "next": {
          "type": "boolean"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.AgentChat"
          }
        }
      }
    },
    "webitel.chat.GetContactChatHistoryRequest.Offset": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Messages ONLY starting from the specified message ID"
        },
        "date": {
          "type": "string",
          "format": "int64",
          "description": "Messages ONLY been sent before the specified epochtime(milli)."
        }
      },
      "title": "Offset options"
    },
    "webitel.chat.GetContactChatHistoryResponse": {
      "type": "object",
      "properties": {
        "messages": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.ChatMessage"
          },
          "description": "Dataset page of messages."
        },
        "chats": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.ContactChat"
          },
          "title": "List of chats mentioned in messages. [FROM]"
        },
        "peers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.ChatPeer"
          },
          "title": "List of peers mentioned in messages. [FROM]"
        },
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Dataset page number."
        },
        "next": {
          "type": "boolean",
          "title": "Next page is available ?"
        }
      },
      "title": "ChatMessages dataset"
    },
    "webitel.chat.LinkContactToClientNAResponse": {
      "type": "object"
    },
    "webitel.chat.Lookup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "webitel.chat.MarkChatProcessedResponse": {
      "type": "object"
    },
    "webitel.chat.Message": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "description": "Unique message identifier inside this chat."
        },
        "date": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp when this message was sent (published)."
        },
        "from": {
          "$ref": "#/definitions/webitel.chat.Peer",
          "description": "Sender of the message."
        },
        "chat": {
          "$ref": "#/definitions/webitel.chat.Chat",
          "description": "Conversation the message belongs to .."
        },
        "sender": {
          "$ref": "#/definitions/webitel.chat.Chat",
          "description": "Chat Sender of the message, sent on behalf of a chat (member)."
        },
        "edit": {
          "type": "string",
          "format": "int64",
          "description": "Timestamp when this message was last edited."
        },
        "text": {
          "type": "string",
          "description": "Message Text."
        },
        "file": {
          "$ref": "#/definitions/webitel.chat.File",
          "description": "Message Media. Attachment."
        },
        "context": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Context. Variables. Environment."
        },
        "keyboard": {
          "$ref": "#/definitions/webitel.chat.ReplyMarkup",
          "description": "Keyboard. Buttons. Quick Replies."
        },
        "postback": {
          "$ref": "#/definitions/webitel.chat.Postback",
          "description": "Postback. Reply Button Click[ed]."
        }
      },
      "description": "Chat Message."
    },
    "webitel.chat.MessageButton": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "Caption to display."
        },
        "url": {
          "type": "string",
          "description": "URL to navigate to .."
        },
        "code": {
          "type": "string",
          "description": "Postback/Callback data."
        },
        "share": {
          "$ref": "#/definitions/webitel.chat.MessageButton.Request",
          "description": "Request to share contact info."
        }
      }
    },
    "webitel.chat.MessageButton.Request": {
      "type": "string",
      "enum": [
        "phone",
        "email",
        "contact",
        "location"
      ],
      "default": "phone",
      "description": "- phone: Phone Number\n - email: Email Address\n - contact: General Form\n - location: Current Location",
      "title": "Type of request to share contact info"
    },
    "webitel.chat.MessageButtonRow": {
      "type": "object",
      "properties": {
        "row": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.MessageButton"
          },
          "title": "Button(s) in a row"
        }
      }
    },
    "webitel.chat.MessageFile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "title": "File location"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "title": "Size in bytes"
        },
        "type": {
          "type": "string",
          "title": "MIME media type"
        },
        "name": {
          "type": "string",
          "title": "Filename"
        },
        "url": {
          "type": "string",
          "title": "Exact url of file (if exists)"
        }
      },
      "description": "Media File."
    },
    "webitel.chat.MessagePostback": {
      "type": "object",
      "properties": {
        "mid": {
          "type": "string",
          "format": "int64",
          "description": "Message ID of the button."
        },
        "code": {
          "type": "string",
          "description": "Data associated with the Button."
        },
        "text": {
          "type": "string",
          "description": "Button's display caption."
        }
      },
      "description": "Postback. Reply Button Click[ed]."
    },
    "webitel.chat.MessageReplyMarkup": {
      "type": "object",
      "properties": {
        "no_input": {
          "type": "boolean",
          "description": "An option used to block input to force\nthe user to respond with one of the buttons."
        },
        "buttons": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.MessageButtonRow"
          },
          "title": "Markup of button(s)"
        }
      }
    },
    "webitel.chat.Peer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Contact unique **ID**entifier.\nContact **type**-specific string."
        },
        "type": {
          "type": "string",
          "description": "Contact **type** provider."
        },
        "name": {
          "type": "string",
          "description": "Contact display **name**."
        }
      },
      "description": "Peer contact."
    },
    "webitel.chat.Postback": {
      "type": "object",
      "properties": {
        "mid": {
          "type": "string",
          "format": "int64",
          "description": "Message ID of the button."
        },
        "code": {
          "type": "string",
          "description": "Data associated with the Button."
        },
        "text": {
          "type": "string",
          "description": "Button's display caption."
        }
      },
      "description": "Postback. Reply Button Click[ed]."
    },
    "webitel.chat.ReplyMarkup": {
      "type": "object",
      "properties": {
        "no_input": {
          "type": "boolean",
          "description": "An option used to block input to force\nthe user to respond with one of the buttons."
        },
        "buttons": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.ButtonRow"
          },
          "title": "Markup of button(s)"
        }
      }
    },
    "webitel.chat.Timerange": {
      "type": "object",
      "properties": {
        "since": {
          "type": "string",
          "format": "int64",
          "description": "Since epochtime (milli).\n**Match**: greater than .."
        },
        "until": {
          "type": "string",
          "format": "int64",
          "description": "Until epochtime (milli).\n**Match**: less or equal .."
        }
      },
      "description": "Timerange filter value."
    },
    "webitel.chat.BroadcastError": {
      "type": "object",
      "properties": {
        "peer_id": {
          "type": "string"
        },
        "error": {
          "$ref": "#/definitions/google.rpc.Status"
        }
      }
    },
    "webitel.chat.BroadcastMessageRequest": {
      "type": "object",
      "properties": {
        "peers": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.InputPeer"
          }
        },
        "message": {
          "$ref": "#/definitions/webitel.chat.InputMessage"
        },
        "timeout": {
          "type": "string",
          "format": "int64"
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "webitel.chat.BroadcastMessageResponse": {
      "type": "object",
      "properties": {
        "failure": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.BroadcastError"
          }
        },
        "variables": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "webitel.chat.InputButton": {
      "type": "object",
      "properties": {
        "caption": {
          "type": "string"
        },
        "text": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "code": {
          "type": "string"
        }
      }
    },
    "webitel.chat.InputButtonRow": {
      "type": "object",
      "properties": {
        "buttons": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.InputButton"
          }
        }
      }
    },
    "webitel.chat.InputFile": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "source": {
          "type": "string"
        }
      }
    },
    "webitel.chat.InputKeyboard": {
      "type": "object",
      "properties": {
        "rows": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.chat.InputButtonRow"
          }
        }
      }
    },
    "webitel.chat.InputMessage": {
      "type": "object",
      "properties": {
        "text": {
          "type": "string"
        },
        "file": {
          "$ref": "#/definitions/webitel.chat.InputFile"
        },
        "keyboard": {
          "$ref": "#/definitions/webitel.chat.InputKeyboard"
        }
      }
    },
    "webitel.chat.InputPeer": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "via": {
          "type": "string"
        }
      },
      "description": "InputPeer identity."
    },
    "google.protobuf.Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string",
          "description": "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
        }
      },
      "additionalProperties": {},
      "description": "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(\u0026foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := \u0026pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := \u0026pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": \u003cstring\u003e,\n      \"lastName\": \u003cstring\u003e\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    },
    "google.rpc.Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of\n[google.rpc.Code][google.rpc.Code]."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\n[google.rpc.Status.details][google.rpc.Status.details] field, or localized\nby the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/google.protobuf.Any"
          },
          "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). Each `Status` message contains\nthree pieces of data: error code, error message, and error details.\n\nYou can find out more about this error model and how to work with it in the\n[API Design Guide](https://cloud.google.com/apis/design/errors)."
    }
  },
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "X-Webitel-Access",
      "in": "header"
    }
  },
  "security": [
    {
      "AccessToken": []
    }
  ]
}
