{
  "swagger": "2.0",
  "info": {
    "title": "Webitel Contacts ReSTfull API",
    "version": "v23.10",
    "contact": {
      "name": "Webitel LLC",
      "url": "https://www.webitel.com",
      "email": "support@webitel.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "tags": [
    {
      "name": "Presence"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Permissions"
    },
    {
      "name": "Users"
    },
    {
      "name": "Roles"
    },
    {
      "name": "AC"
    },
    {
      "name": "AccessStore"
    },
    {
      "name": "OAuth2"
    },
    {
      "name": "SA"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Devices"
    },
    {
      "name": "CallManager"
    },
    {
      "name": "CA"
    },
    {
      "name": "Classes"
    },
    {
      "name": "Comments"
    },
    {
      "name": "Labels"
    },
    {
      "name": "Emails"
    },
    {
      "name": "Upload"
    },
    {
      "name": "Photos"
    },
    {
      "name": "Phones"
    },
    {
      "name": "Managers"
    },
    {
      "name": "Variables"
    },
    {
      "name": "Languages"
    },
    {
      "name": "Timezones"
    },
    {
      "name": "IMClients"
    },
    {
      "name": "ContactGroups"
    },
    {
      "name": "Contacts"
    },
    {
      "name": "DynamicConditions"
    },
    {
      "name": "DynamicGroups"
    },
    {
      "name": "Groups"
    },
    {
      "name": "Timeline"
    },
    {
      "name": "Records"
    },
    {
      "name": "Types"
    },
    {
      "name": "Dictionaries"
    },
    {
      "name": "Extensions"
    },
    {
      "name": "Domains"
    },
    {
      "name": "Articles"
    },
    {
      "name": "KnowledgebaseSearch"
    },
    {
      "name": "Spaces"
    },
    {
      "name": "Tags"
    },
    {
      "name": "LDAP"
    },
    {
      "name": "OAuth2Federation"
    },
    {
      "name": "TwoFactorAuthentication"
    },
    {
      "name": "UserAccessTokens"
    },
    {
      "name": "UserSettings"
    }
  ],
  "host": "nx.webitel.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/acl/{object.name}/{object.id}": {
      "get": {
        "summary": "default: TODO: indicate objclass=default as a default rights repo",
        "operationId": "ListDefaultAccess",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiListAccessResponseV1"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "object.name",
            "description": "display name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "grantor",
            "description": "--- filters ---\n\n[optional] [FROM] each rule owner is any of role(s) id; user -or- role",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "grantee",
            "description": "[optional] [TO] subject role(s) id; user -or- role",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "granted",
            "description": "[xrwdxrwd] [R]ecord-[b]ased-[A]ccess-[C]ontrol level check(!)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "[optional] [TO] subject.name ILIKE ?q=; user -or- role",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "----- Select Options -------------------------\n\nattributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "size",
            "description": "pagedResultsControl\n\ndefault: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "description": "default: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "AccessStore"
        ]
      }
    },
    "/acl/{object.name}/{object.id}/grantor/{grantor}": {
      "patch": {
        "summary": "Same as UpdateAccess except for DEFAULT access control system",
        "operationId": "ToggleDefaultAccess",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/apiToggleDefaultAccessResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "object.name",
            "description": "display name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "grantor",
            "description": "[FOR] creator user/role",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccessStoreToggleDefaultAccessBody"
            }
          }
        ],
        "tags": [
          "AccessStore"
        ]
      }
    },
    "/contacts": {
      "get": {
        "summary": "Search for Contact(s)",
        "description": "| Field       | Type \n| ----------- | ---- \n| **----------- READ-ONLY -----------** | \n| `id`        | int64 \n| `ver`       | int32 \n| `etag`      | string \n| **---------- OPERATIONAL ----------** | \n| `created_at` | int64(epoch:milli) \n| `created_by` | lookup(user) \n| `updated_at` | int64(epoch:milli) \n| `updated_by` | lookup(user) \n| **---------- ATTRIBUTES -----------** | \n| `name`      | name! \n| `about`     | string \n| `labels`    | list[label!] \n| `emails`    | list[email!] \n| `photos`    | list[photo!] \n| `phones`    | list[phone!] \n| `managers`  | list[manager!] \n| `comments`  | list[comment!] \n| `addresses` | list[address!] \n| `languages` | list[language!] \n| `timezones` | list[timezone!] \n| `variables` | list[variable!] \n| `imclients` | list[imClient!] \n",
        "operationId": "SearchContacts",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result records.   _default(1); offset=(size*(page-1));_\n\n```javascript\nlet\n    offset = 0\n  , page = req.page\n;\nif (page \u003c= 0)\n    page = 1;\nif (page \u003e 1)\n    offset = ((page-1)*size);\n// . . .\n```",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Limit of result page records count.   _default(16); limit=(size\u003c=0?-1:size+1);_\n\n```javascript\nconst\n    default = 16\n  , maximum = 32\n;\nlet limit = req.size;\nif (limit \u003c= 0)\n    limit = default;\nif (maximum \u003c limit)\n    limit = maximum;\n// . . .\n```",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term:\n`?` - matches any character\n`*` - matches 0 or more characters\nUsed to query records within a set of `qin` fields, eg: name,emails{type},labels etc...",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort result dataset of records by fields.\n```\nsort ::= *( ORDER name )\n\nORDER  = ASC / DESC\nDESC   = \"-\" / \"!\"\nASC    = [ \"+\" ]   ; Default\n```\n\nFields available\n\n- `id`(seq)\n- `domain`{name}\n- `created_at`\n- `created_by`{name}\n- `updated_at`\n- `updated_by`{name}\n\nUse ?fields=`field.sort()` option to sort Edge fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "default": "id",
              "pattern": "^[+|-|!]?\\w+$"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields [Q]uery to build result dataset record.\n```\nfields ::= field [ *( \",\" field ) ]\nfield  ::= name [ *( func ) ] [ inner ]\ninner  ::= \"{\" fields \"}\"\nfuncs  ::= *( func )\nfunc   ::= \".\" name \"(\" [ args ] \")\"\nname   ::= ALPHA / DIGIT / USCORE\n\nALPHA    = %x41-5A / %x61-7A  ; \"A\"-\"Z\" / \"a\"-\"z\"\nDIGIT    = %x30-39            ; \"0\"-\"9\"\nUSCORE   = %x5F ; underscore  ; \"_\"\n```",
            "in": "query",
            "required": false,
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "default": "*"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Records with unique IDentifier(s).\nAccept: `id` -or- `etag`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "qin",
            "description": "[Q]uery[IN] is a set of search fields for term `q`.\nDefault: `name{common_name}`.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "mode",
            "description": "Source access mode requirement.\n\n - READ: Can `fetch` record. [GET]\n - WRITE: Can `update` record. [PUT|PATCH]\n - DELETE: Can `delete` record. [DELETE]",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "READ",
              "WRITE",
              "DELETE"
            ],
            "default": "READ"
          },
          {
            "name": "not_id_group",
            "description": "Excludes contacts that belong to the specified group ID.\n- Filters out contacts associated with the given `group_id`.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "group",
            "description": "Filters contacts by the specified group(s).\n- Includes only contacts that belong to one or more of the given group Group(s).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "owner",
            "description": "Filters contacts by the specified owner(s).\n- Includes only contacts whose owner matches one or more of the given Owner(s).\n- The owner ID corresponds to `contact_id` in the `directory.wbt_user` table.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "label",
            "description": "Filters contacts by the specified label(s).\n- Includes only contacts that have one or more of the given Label(s).",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "user",
            "description": "Filters contacts based on whether they are user-associated.\n- `true`  → Includes only user-associated contacts.\n- `false` → Includes only contacts that are NOT user-associated.\n- A contact is considered user-associated if it exists in `directory.wbt_user`.",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Contacts"
        ]
      },
      "post": {
        "summary": "Create NEW Contact",
        "operationId": "CreateContact",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitelcontactsContact"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "input",
            "description": "NEW Contact source changes",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsInputContact"
            }
          },
          {
            "name": "fields",
            "description": "Source Fields to return into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Contacts"
        ]
      }
    },
    "/contacts/groups": {
      "get": {
        "summary": "Retrieve a list of groups or search groups",
        "operationId": "ListGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: group name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by group name.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "Filter by group type.\n\n - GROUP_TYPE_UNSPECIFIED: Default value\n - STATIC: Static group\n - DYNAMIC: Dynamic group",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "GROUP_TYPE_UNSPECIFIED",
              "STATIC",
              "DYNAMIC"
            ],
            "default": "GROUP_TYPE_UNSPECIFIED"
          },
          {
            "name": "enabled",
            "description": "Filter by only enabled group",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Groups"
        ]
      },
      "post": {
        "summary": "Create a new group",
        "operationId": "CreateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request message for creating a new group.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsCreateGroupRequest"
            }
          }
        ],
        "tags": [
          "Groups"
        ]
      }
    },
    "/contacts/groups/conditions/{id}": {
      "get": {
        "summary": "Locate a condition by ID",
        "operationId": "LocateCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLocateConditionResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Unique ID of the condition.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "DynamicConditions"
        ]
      },
      "delete": {
        "summary": "Delete a condition",
        "operationId": "DeleteCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsCondition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the condition to delete.\n\nUnique ID of the condition.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "DynamicConditions"
        ]
      },
      "put": {
        "summary": "Update an existing condition",
        "operationId": "UpdateCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsCondition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the condition to update.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input details for the condition.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsInputCondition"
            }
          }
        ],
        "tags": [
          "DynamicConditions"
        ]
      },
      "patch": {
        "summary": "Update an existing condition",
        "operationId": "UpdateCondition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsCondition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the condition to update.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input details for the condition.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsInputCondition"
            }
          }
        ],
        "tags": [
          "DynamicConditions"
        ]
      }
    },
    "/contacts/groups/contacts:attach": {
      "post": {
        "summary": "Attach contacts to multiple groups",
        "operationId": "AddContactsToGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request message for adding contacts to a group.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsAddContactsToGroupRequest"
            }
          }
        ],
        "tags": [
          "Groups"
        ]
      }
    },
    "/contacts/groups/dynamic": {
      "get": {
        "summary": "Retrieve a list of dynamic groups or search dynamic groups",
        "operationId": "ListDynamicGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: group name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by group name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "DynamicGroups"
        ]
      },
      "post": {
        "summary": "Create a new dynamic group",
        "operationId": "CreateDynamicGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request message for creating a new dynamic group.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsCreateDynamicGroupRequest"
            }
          }
        ],
        "tags": [
          "DynamicGroups"
        ]
      }
    },
    "/contacts/groups/{group_id}/conditions": {
      "get": {
        "summary": "Retrieve a list of conditions",
        "operationId": "ListConditions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsConditionList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "description": "The ID of the group to which the conditions belong.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term for conditions.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "DynamicConditions"
        ]
      },
      "post": {
        "summary": "Create a new condition",
        "operationId": "CreateCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsCondition"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "description": "The ID of the group to which the condition belongs.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DynamicConditionsCreateConditionBody"
            }
          }
        ],
        "tags": [
          "DynamicConditions"
        ]
      }
    },
    "/contacts/groups/{group_id}/contact": {
      "delete": {
        "summary": "Remove contacts from a group",
        "operationId": "RemoveContactsFromGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "group_id",
            "description": "The unique ID of the group.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "contact_ids",
            "description": "List of contact IDs to remove from the group.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Groups"
        ]
      }
    },
    "/contacts/groups/{id}": {
      "get": {
        "summary": "Locate a group by ID",
        "operationId": "LocateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLocateGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the group to locate.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Groups"
        ]
      },
      "delete": {
        "summary": "Delete a group",
        "operationId": "DeleteGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the group to delete.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Groups"
        ]
      },
      "put": {
        "summary": "Update an existing group",
        "operationId": "UpdateGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the group to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsInputGroup"
            }
          }
        ],
        "tags": [
          "Groups"
        ]
      },
      "patch": {
        "summary": "Update an existing group",
        "operationId": "UpdateGroup2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the group to update.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsInputGroup"
            }
          }
        ],
        "tags": [
          "Groups"
        ]
      }
    },
    "/contacts/groups/{id}/dynamic": {
      "get": {
        "summary": "Locate a dynamic group by ID",
        "operationId": "LocateDynamicGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLocateDynamicGroupResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "DynamicGroups"
        ]
      },
      "delete": {
        "summary": "Delete a dynamic group",
        "operationId": "DeleteDynamicGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the dynamic group to delete.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "DynamicGroups"
        ]
      },
      "put": {
        "summary": "Update an existing dynamic group",
        "operationId": "UpdateDynamicGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the dynamic group to update.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input details for the dynamic group.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroupInput"
            }
          }
        ],
        "tags": [
          "DynamicGroups"
        ]
      },
      "patch": {
        "summary": "Update an existing dynamic group",
        "operationId": "UpdateDynamicGroup2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the dynamic group to update.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input details for the dynamic group.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsDynamicGroupInput"
            }
          }
        ],
        "tags": [
          "DynamicGroups"
        ]
      }
    },
    "/contacts/labels": {
      "get": {
        "summary": "Search for Contacts engaged Label(s).",
        "operationId": "GetLabels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLabelTags"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = ((page-1)*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size+1)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: label.\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Labels"
        ]
      }
    },
    "/contacts/{contact_id}/comments": {
      "get": {
        "summary": "Search for Contact Comment(s) ...",
        "operationId": "SearchComments",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsCommentList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "Page number of result. offset = ((page-1)*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size of result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: comment text;\n`?` - matches any character\n`*` - matches 0 or more characters\n\nterm-of-search: lookup[name|...]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Comment(s) with unique ID only.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "mode",
            "description": "The requirement of [M]andatory [A]ccess [C]ontrol.\n\n - READ: Can `fetch` record. [GET]\n - WRITE: Can `update` record. [PUT|PATCH]\n - DELETE: Can `delete` record. [DELETE]",
            "in": "query",
            "required": false,
            "type": "string",
            "enum": [
              "READ",
              "WRITE",
              "DELETE"
            ],
            "default": "READ"
          },
          {
            "name": "date.since",
            "description": "Since timestamp(milli). Not before.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "date.until",
            "description": "Until timestamp(milli). Not after.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "author.id",
            "description": "Reference Object unique ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "author.type",
            "description": "Reference Object well-known type.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "author.name",
            "description": "Reference Object display name.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "editor.id",
            "description": "Reference Object unique ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "editor.type",
            "description": "Reference Object well-known type.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "editor.name",
            "description": "Reference Object display name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Comments"
        ]
      },
      "post": {
        "summary": "Publish comment for a Contact.",
        "operationId": "PublishComment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsComment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "NEW Comment for a Contact publication.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/contactsInputComment"
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Comments"
        ]
      }
    },
    "/contacts/{contact_id}/comments/{etag}": {
      "delete": {
        "summary": "Delete Comment(s) for Contact ...",
        "operationId": "DeleteComment",
        "responses": {
          "200": {
            "description": "Comment dataset page.",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsComment"
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Set of unique ID(s) to remove.",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Comments"
        ]
      },
      "put": {
        "summary": "Update (edit) specific Comment text owned",
        "operationId": "UpdateComment",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsComment"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID of the latest version of an existing resorce.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "NEW Edition of the Comment.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "text": "This is a new note about the contact's recent activity. So ..."
              },
              "properties": {
                "text": {
                  "type": "string",
                  "description": "NEW Text of the comment."
                },
                "format": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "$ref": "#/definitions/CommentFormat"
                  },
                  "description": "NEW Text components styling format."
                }
              },
              "title": "NEW Edition of the Comment.",
              "required": [
                "text"
              ]
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Comments"
        ]
      }
    },
    "/contacts/{contact_id}/emails": {
      "get": {
        "summary": "Locates email address(es) of the contact.",
        "operationId": "ListEmails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "The Contact ID linked with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: email address.\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Link(s) with unique ID only.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "primary",
            "description": "Primary email address only.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "verified",
            "description": "Verified email addresses only.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "type.id",
            "description": "Reference Object unique ID.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type.type",
            "description": "Reference Object well-known type.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type.name",
            "description": "Reference Object display name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Emails"
        ]
      },
      "delete": {
        "summary": "Remove email address(es) of the contact.",
        "operationId": "DeleteEmails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "etag",
            "description": "Set of unique ID(s) to remove.",
            "in": "query",
            "required": true,
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^.+$"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      },
      "post": {
        "summary": "Update or append email address(es) of the contact.",
        "operationId": "MergeEmails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "Fixed set of email address(es) to be linked with the contact.\nEmail address(es) that conflicts(email) with already linked will be updated.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsInputEmailAddress"
              }
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      },
      "put": {
        "summary": "Resets all emails of the contact according to the input dataset.",
        "operationId": "ResetEmails",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "Final set of email address(es) to be linked with the contact.\nEmail address(es) that are already linked with the contact\nbut not given in here will be removed.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsInputEmailAddress"
              }
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      }
    },
    "/contacts/{contact_id}/emails/{etag}": {
      "get": {
        "summary": "Locate the email address link.",
        "operationId": "LocateEmail",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact source ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique mail address link IDentifier.\nAccept: `etag` (obsolete+) or `id`.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "\\w+"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      },
      "delete": {
        "summary": "Remove the contact's email address link",
        "operationId": "DeleteEmail",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailAddress"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID to remove.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      },
      "put": {
        "summary": "Update the contact's email address link details",
        "operationId": "UpdateEmail",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID of the latest version of an existing resorce.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "NEW Update of the email address link.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "etag": "1679792219687",
                "verified": false,
                "primary": true,
                "email": "user@domain",
                "type": {
                  "name": "personal"
                }
              },
              "properties": {
                "primary": {
                  "type": "boolean",
                  "description": "Indicates whether this phone number is default within other channels of the same type(phone)."
                },
                "verified": {
                  "type": "boolean",
                  "title": "Indicate whether Contact, as a Person, realy owns this associated phone number.\nIn other words: whether Contact is reachable thru this 'email' communication channel ?"
                },
                "email": {
                  "type": "string",
                  "description": "The email address."
                },
                "type": {
                  "$ref": "#/definitions/webitelcontactsLookup",
                  "title": "The type of the email address.\nLookup value from CommunicationType dictionary.\nThe type can be custom or one of these predefined values:\n- home\n- work\n- other"
                }
              },
              "title": "NEW Update of the email address link.",
              "required": [
                "email"
              ]
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      },
      "patch": {
        "summary": "Update the contact's email address link details",
        "operationId": "UpdateEmail2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmailList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID of the latest version of an existing resorce.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "NEW Update of the email address link.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "example": {
                "etag": "1679792219687",
                "verified": false,
                "primary": true,
                "email": "user@domain",
                "type": {
                  "name": "personal"
                }
              },
              "properties": {
                "primary": {
                  "type": "boolean",
                  "description": "Indicates whether this phone number is default within other channels of the same type(phone)."
                },
                "verified": {
                  "type": "boolean",
                  "title": "Indicate whether Contact, as a Person, realy owns this associated phone number.\nIn other words: whether Contact is reachable thru this 'email' communication channel ?"
                },
                "email": {
                  "type": "string",
                  "description": "The email address."
                },
                "type": {
                  "$ref": "#/definitions/webitelcontactsLookup",
                  "title": "The type of the email address.\nLookup value from CommunicationType dictionary.\nThe type can be custom or one of these predefined values:\n- home\n- work\n- other"
                }
              },
              "title": "NEW Update of the email address link.",
              "required": [
                "email"
              ]
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Emails"
        ]
      }
    },
    "/contacts/{contact_id}/groups": {
      "get": {
        "summary": "List of the Contact's group(s).",
        "operationId": "ListContactGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "query",
            "description": "Search term: group name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Record(s) with unique ID only.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      },
      "delete": {
        "summary": "Remove the Contact's group(s).",
        "operationId": "DeleteContactGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "etag",
            "description": "Set of unique ID(s) to remove.",
            "in": "query",
            "required": true,
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      },
      "post": {
        "summary": "Associate more group(s) with the Contact.",
        "operationId": "MergeContactGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "Array of the unique User(s) to associate with the Contact.\nAny duplicate of an already linked user{id} will result in an error.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsInputContactGroup"
              }
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      },
      "put": {
        "summary": "Resets all groups of the contact according to the input dataset.",
        "operationId": "ResetContactGroups",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "Final set of group(s) to be linked with the contact.\nGroup(s) that are already linked with the contact\nbut not given in here will be removed.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsInputContactGroup"
              }
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      }
    },
    "/contacts/{contact_id}/groups/{etag}": {
      "get": {
        "summary": "Locate the Contact's group association.",
        "operationId": "LocateContactGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact source ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique group link IDentifier.\nAccept: `etag` (obsolete+) or `id`.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "\\w+"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      },
      "delete": {
        "summary": "Remove the Contact's group association.",
        "operationId": "DeleteContactGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroup"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID to remove.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      },
      "put": {
        "summary": "Update the Contact's group details.",
        "operationId": "UpdateContactGroup",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID of the latest version of an existing resource.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "NEW Update of the group link.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group": {
                  "$ref": "#/definitions/webitelcontactsLookup",
                  "description": "Group of contacts associated."
                }
              },
              "title": "NEW Update of the group link."
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      },
      "patch": {
        "summary": "Update the Contact's group details.",
        "operationId": "UpdateContactGroup2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsContactGroupList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "etag",
            "description": "Unique ID of the latest version of an existing resource.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "NEW Update of the group link.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "group": {
                  "$ref": "#/definitions/webitelcontactsLookup",
                  "description": "Group of contacts associated."
                }
              },
              "title": "NEW Update of the group link."
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result of changes.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "ContactGroups"
        ]
      }
    },
    "/contacts/{contact_id}/imclients": {
      "get": {
        "summary": "Search IM client links",
        "operationId": "ListIMClients",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsIMClientList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: IMClient.\n`?` - matches any one character\n`*` - matches 0 or more characters\nSearch fields: {user,app}",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Link(s) with unique ID only.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "IMClients"
        ]
      }
    },
    "/contacts/{contact_id}/imclients/{id}": {
      "delete": {
        "operationId": "DeleteIMClient",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsEmptyResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "IMClients"
        ]
      }
    },
    "/contacts/{contact_id}/labels": {
      "get": {
        "summary": "Locate the Contact's associated Label(s).",
        "operationId": "ListLabels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLabelList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = ((page-1)*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size+1)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: label tag.\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Record(s) with unique ID or ETag.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Labels"
        ]
      },
      "delete": {
        "summary": "Remove Contact Labels associations.",
        "operationId": "DeleteLabels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLabelList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "etag",
            "description": "Set of unique label(s).etag identifiers.",
            "in": "query",
            "required": true,
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string",
              "pattern": "^(\\w+)(,\\w+)*$"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Labels"
        ]
      },
      "post": {
        "summary": "Associate NEW Labels to the Contact.",
        "operationId": "MergeLabels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLabelList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "Fixed set of label(s) to be linked with the contact.\nLabel(s) that conflicts with already linked will be updated.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsInputLabel"
              }
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Labels"
        ]
      },
      "put": {
        "summary": "Reset Labels to fit the specified final set.",
        "operationId": "ResetLabels",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLabelList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "input",
            "description": "Final set of labels(s) to be linked with the contact.\nLabel(s) that are already linked with the contact\nbut not given in here will be removed.",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/contactsInputLabel"
              }
            }
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Labels"
        ]
      }
    },
    "/contacts/{contact_id}/languages": {
      "get": {
        "summary": "List of the Contact's language association(s).",
        "operationId": "GetContactLanguages",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLanguageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Contact ID associated with.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "q",
            "description": "Search term: language tag (lang, name, region, ..)\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Language(s) with unique ID|ETag only.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "primary",
            "description": "Primary language only.",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "code",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Languages"
        ]
      },
      "delete": {
        "summary": "Remove the Contact's language association(s).",
        "operationId": "DelContactLanguages",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/contactsLanguageList"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "contact_id",
            "description": "Link contact ID.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "etag",
            "description": "Set of unique language{etag} association(s) to remove.",
            "in": "query",
            "required": true,
            "type": "array",
            "uniqueItems": true,
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Languages"
        ]
      },
      "post": {
        "summary": "Associate more language(s) with the Contact.",
[...]
