{
  "swagger": "2.0",
  "info": {
    "title": "Webitel Contacts ReSTfull API",
    "version": "v23.10",
    "contact": {
      "name": "Webitel LLC",
      "url": "https://www.webitel.com",
      "email": "support@webitel.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "tags": [
    {
      "name": "AccessStore"
    },
    {
      "name": "Auth"
    },
    {
      "name": "Classes"
    },
    {
      "name": "Customers"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Domains"
    },
    {
      "name": "LDAP"
    },
    {
      "name": "OAuth2Federation"
    },
    {
      "name": "Permissions"
    },
    {
      "name": "Presence"
    },
    {
      "name": "Roles"
    },
    {
      "name": "UserAccessTokens"
    },
    {
      "name": "UserSettings"
    },
    {
      "name": "TwoFactorAuthentication"
    },
    {
      "name": "Users"
    }
  ],
  "host": "nx.webitel.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/acl/{object.name}/{object.id}": {
      "get": {
        "summary": "default: TODO: indicate objclass=default as a default rights repo",
        "operationId": "AccessStore_ListDefaultAccess",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ListAccessResponseV1"
            }
          }
        },
        "parameters": [
          {
            "name": "object.name",
            "description": "display name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "grantor",
            "description": "--- filters ---\n\n[optional] [FROM] each rule owner is any of role(s) id; user -or- role",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "grantee",
            "description": "[optional] [TO] subject role(s) id; user -or- role",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "granted",
            "description": "[xrwdxrwd] [R]ecord-[b]ased-[A]ccess-[C]ontrol level check(!)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "[optional] [TO] subject.name ILIKE ?q=; user -or- role",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "----- Select Options -------------------------\n\nattributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "size",
            "description": "pagedResultsControl\n\ndefault: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "description": "default: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "AccessStore"
        ]
      }
    },
    "/acl/{object.name}/{object.id}/grantor/{grantor}": {
      "patch": {
        "summary": "Same as UpdateAccess except for DEFAULT access control system",
        "operationId": "AccessStore_ToggleDefaultAccess",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ToggleDefaultAccessResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "object.name",
            "description": "display name",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "grantor",
            "description": "[FOR] creator user/role",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.AccessStore.ToggleDefaultAccessBody"
            }
          }
        ],
        "tags": [
          "AccessStore"
        ]
      }
    },
    "/customer": {
      "get": {
        "summary": "rpc GetCertificate(CertificateUsageRequest) returns (CertificateUsageResponse) {}",
        "operationId": "Customers_GetCustomer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.GetCustomerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Available Filters\n\nshow by customer id; serial number (uuid)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "valid",
            "description": "show if valid only!",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "domain.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain.name",
            "description": "display name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Request Controls\n\nserial,",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Customers"
        ]
      },
      "put": {
        "operationId": "Customers_UpdateCustomer",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateCustomerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "organization",
            "description": "[optional] e.g.: Example Org.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "logo_picture",
            "description": "[optional] logo source image",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "certificate",
            "description": "[optional] raw bytes protobuf::base64.RawStdEncoding != certificate::base64.StdEncoding",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "revoke",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/customer/{customer_id}/license": {
      "get": {
        "operationId": "Customers_LicenseUsage",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LicenseUsageResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "customer_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "size",
            "description": "----- Search Options ----- //\n\ndefault: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "description": "default: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "set of output fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "user.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.name",
            "description": "display name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain.name",
            "description": "display name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "description": "by serial number(s)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "product",
            "description": "by product name(s)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "valid",
            "description": "view: all|valid|grantable\n\nshow: available to be granted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "q",
            "description": "filter: term of search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/customer/{id}": {
      "get": {
        "summary": "rpc GetCertificate(CertificateUsageRequest) returns (CertificateUsageResponse) {}",
        "operationId": "Customers_GetCustomer2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.GetCustomerResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "Available Filters\n\nshow by customer id; serial number (uuid)",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "valid",
            "description": "show if valid only!",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "domain.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain.name",
            "description": "display name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "Request Controls\n\nserial,",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/devices": {
      "get": {
        "operationId": "Devices_SearchDevice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.SearchDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "size",
            "description": "----- Select Options -------------------------\n\ndefault: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "description": "default: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "ids",
            "description": "----- Search Basic Filters ---------------------------\n\nselection: by unique identifier",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "term-of-search: lookup[name,account,hotdesk,brand,model,mac,ip]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "case-ignore substring match: ILIKE '*' - any; '?' - one",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "access",
            "description": "[M]andatory[A]ccess[C]ontrol: with access mode (action) granted!",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "account",
            "description": "----- Device-Specific Filters ----------------\n\nsubstring like '%name%'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "hotdesk",
            "description": "filter: has hotdesk (=pattern); is hotdesk (=*)",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "user.id",
            "description": "Object ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.name",
            "description": "Display Name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "mac",
            "description": "filter: by MAC address",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "ip",
            "description": "filter: by IP address",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "delete": {
        "operationId": "Devices_DeleteDevice2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeleteDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "ids",
            "description": "bulk",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "int64"
              }
            }
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "permanent",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "post": {
        "operationId": "Devices_CreateDevice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.CreateDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "device",
            "description": "string password = 2;",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.Device"
            }
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{device.id}": {
      "put": {
        "operationId": "Devices_UpdateDevice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "device.id",
            "description": "object id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "device",
            "description": "Device profile",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "display name",
                  "title": "kind of\nDeviceType type = 19;"
                },
                "account": {
                  "type": "string",
                  "description": "username",
                  "title": "credentials"
                },
                "password": {
                  "type": "string",
                  "title": "password"
                },
                "user": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "[optional] The user that 'owns' the device;"
                },
                "logged_in": {
                  "type": "string",
                  "format": "int64",
                  "title": "caller profile\n webitel.adt.caller caller = 4;"
                },
                "hotdesk": {
                  "type": "boolean",
                  "description": "act as a hotdesk",
                  "title": "Hotdesk: this workstation aliases"
                },
                "hotdesks": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "associated aliases"
                },
                "provision": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "provision extra data"
                },
                "brand": {
                  "type": "string",
                  "description": "vendor brand name",
                  "title": "provision"
                },
                "model": {
                  "type": "string"
                },
                "mac": {
                  "type": "string",
                  "title": "static"
                },
                "ip": {
                  "type": "string"
                },
                "reged": {
                  "type": "boolean",
                  "title": "TODO: something like PresenceStatus instead of Registration\n repeated Registration contacts = 16;"
                },
                "created_at": {
                  "type": "string",
                  "format": "int64",
                  "title": "unix"
                },
                "created_by": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "user"
                },
                "updated_at": {
                  "type": "string",
                  "format": "int64",
                  "title": "unix"
                },
                "updated_by": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "user"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "int64",
                  "title": "unix"
                },
                "deleted_by": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "user"
                }
              },
              "title": "Device profile"
            }
          },
          {
            "name": "fields",
            "description": "PATCH: partial update",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "patch": {
        "operationId": "Devices_UpdateDevice2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "device.id",
            "description": "object id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "device",
            "description": "Device profile",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "display name",
                  "title": "kind of\nDeviceType type = 19;"
                },
                "account": {
                  "type": "string",
                  "description": "username",
                  "title": "credentials"
                },
                "password": {
                  "type": "string",
                  "title": "password"
                },
                "user": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "[optional] The user that 'owns' the device;"
                },
                "logged_in": {
                  "type": "string",
                  "format": "int64",
                  "title": "caller profile\n webitel.adt.caller caller = 4;"
                },
                "hotdesk": {
                  "type": "boolean",
                  "description": "act as a hotdesk",
                  "title": "Hotdesk: this workstation aliases"
                },
                "hotdesks": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "title": "associated aliases"
                },
                "provision": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "title": "provision extra data"
                },
                "brand": {
                  "type": "string",
                  "description": "vendor brand name",
                  "title": "provision"
                },
                "model": {
                  "type": "string"
                },
                "mac": {
                  "type": "string",
                  "title": "static"
                },
                "ip": {
                  "type": "string"
                },
                "reged": {
                  "type": "boolean",
                  "title": "TODO: something like PresenceStatus instead of Registration\n repeated Registration contacts = 16;"
                },
                "created_at": {
                  "type": "string",
                  "format": "int64",
                  "title": "unix"
                },
                "created_by": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "user"
                },
                "updated_at": {
                  "type": "string",
                  "format": "int64",
                  "title": "unix"
                },
                "updated_by": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "user"
                },
                "deleted_at": {
                  "type": "string",
                  "format": "int64",
                  "title": "unix"
                },
                "deleted_by": {
                  "$ref": "#/definitions/api.UserId",
                  "title": "user"
                }
              },
              "title": "Device profile"
            }
          },
          {
            "name": "fields",
            "description": "PATCH: partial update",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{device.id}/registered": {
      "get": {
        "operationId": "Devices_ListRegistrations",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ListRegistrationsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "device.id",
            "description": "Object ID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.id",
            "description": "Object ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.name",
            "description": "Display Name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "device.name",
            "description": "Display Name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{device.id}/users/audit": {
      "get": {
        "summary": "----- Details (1:M) ----------------------------------------------",
        "operationId": "Devices_SearchDeviceAudit",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeviceAuditResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "device.id",
            "description": "Object ID",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.id",
            "description": "Object ID",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.name",
            "description": "Display Name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "device.name",
            "description": "Display Name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "time_from",
            "description": "Filter: timing range (optional)\n\nunix milliseconds",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "time_till",
            "description": "unix milliseconds",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "description": "Search Options",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/devices/{id}": {
      "get": {
        "operationId": "Devices_ReadDevice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ReadDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "description": "output selection",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Devices"
        ]
      },
      "delete": {
        "operationId": "Devices_DeleteDevice",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeleteDeviceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "permanent",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "ids",
            "description": "bulk",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Devices"
        ]
      }
    },
    "/domain": {
      "get": {
        "operationId": "Domains_ReadDomain",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ReadDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dc",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Domains"
        ]
      },
      "delete": {
        "operationId": "Domains_DeleteDomain",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeleteDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "dc",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Domains"
        ]
      }
    },
    "/domains": {
      "get": {
        "operationId": "Domains_SearchDomains",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.SearchDomainsResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "domain",
            "description": "like",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "attrs",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Domains"
        ]
      },
      "post": {
        "operationId": "Domains_CreateDomain",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.CreateDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.CreateDomainRequest"
            }
          }
        ],
        "tags": [
          "Domains"
        ]
      }
    },
    "/domains/{dc}": {
      "get": {
        "operationId": "Domains_ReadDomain2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ReadDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "dc",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Domains"
        ]
      },
      "delete": {
        "operationId": "Domains_DeleteDomain2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeleteDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "dc",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Domains"
        ]
      }
    },
    "/domains/{domain.dc}": {
      "put": {
        "operationId": "Domains_UpdateDomain",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "domain.dc",
            "description": "component",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.Domains.UpdateDomainBody"
            }
          }
        ],
        "tags": [
          "Domains"
        ]
      },
      "patch": {
        "operationId": "Domains_UpdateDomain2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateDomainResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "domain.dc",
            "description": "component",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.Domains.UpdateDomainBody"
            }
          }
        ],
        "tags": [
          "Domains"
        ]
      }
    },
    "/ldap": {
      "get": {
        "summary": "Search for LDAP directories ...",
        "operationId": "LDAP_SearchLDAPCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.SearchLDAPResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\n\nselection: by unique identifier",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "term-of-search: lookup[name]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "case-ignore substring match: ILIKE '*' - any; '?' - one",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "access",
            "description": "[M]andatory[A]ccess[C]ontrol: with access mode (action) granted!",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "delete": {
        "summary": "Delete LDAP profile(s) ...",
        "operationId": "LDAP_DeleteLDAPCatalog2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.DeleteLDAPRequest"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "post": {
        "summary": "Create LDAP profile",
        "operationId": "LDAP_CreateLDAPCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/search": {
      "get": {
        "summary": "LDAPSearch performs LDAP Search operation ...",
        "operationId": "LDAP_LDAPSearch4",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPSearchResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "----- connection -----\nOptional. ID of the preconfigured LDAP catalog",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "url",
            "description": "Optional. URL to establish connection to LDAP catalog\n\nURL e.g.: [(ldap|ldapi|ldaps)://]host[:port]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "tls.PEM",
            "description": "TODO: (!)\n\nbase64",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "bind",
            "description": "----- BIND: Authorization -----\n\nauthorization method e.g.: SIMPLE, SAML, NTLM, etc.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "description": "bind_dn",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "description": "password",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "baseObject",
            "description": "----- SearchRequest -----\nbaseObject [D]istinguished[N]ame",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope",
            "description": "baseObject              (0),\nsingleLevel             (1),\nwholeSubtree            (2)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "derefAliases",
            "description": "neverDerefAliases       (0),\nderefInSearching        (1),\nderefFindingBaseObj     (2),\nderefAlways             (3)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sizeLimit",
            "description": "INTEGER (0 ..  maxInt),",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "timeLimit",
            "description": "INTEGER (0 ..  maxInt),",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "typesOnly",
            "description": "BOOLEAN,",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter",
            "description": "Filter,",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributes",
            "description": "AttributeSelection",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "post": {
        "summary": "LDAPSearch performs LDAP Search operation ...",
        "operationId": "LDAP_LDAPSearch3",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPSearchResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAPSearchRequest"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog.id}": {
      "put": {
        "summary": "Update LDAP profile details",
        "operationId": "LDAP_UpdateLDAPCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog.id",
            "description": "identity\nint64 dc = 1;",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.UpdateLDAPCatalogBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "patch": {
        "summary": "Update LDAP profile details",
        "operationId": "LDAP_UpdateLDAPCatalog2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog.id",
            "description": "identity\nint64 dc = 1;",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.UpdateLDAPCatalogBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog.id}/templates": {
      "post": {
        "operationId": "LDAP_CreateLDAPTemplate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplate"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.CreateLDAPTemplateBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog_id}/rsync": {
      "get": {
        "summary": "(ResyncLDAPResponse) {",
        "operationId": "LDAP_SearchLDAProcess",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAProcessResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "REQUIRED. Parent LDAP catalog IDentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\nOPTIONAL. Search process by unique .id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "OPTIONAL. Filter(s) SET",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "objclass",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "failed",
            "description": "WITH .errs",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "enabled",
            "description": "created|updated",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "disabled",
            "description": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "post": {
        "summary": "Resync LDAP directory catalog changes ...",
        "description": "(ResyncLDAPResponse) {",
        "operationId": "LDAP_ResyncLDAPCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAProcess"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "LDAP Catalog unique IDentifier to sync with\n\ncatalog_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.ResyncLDAPCatalogBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog_id}/rsync/{id}": {
      "get": {
        "summary": "(ResyncLDAPResponse) {",
        "operationId": "LDAP_LocateLDAProcess",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAProcess"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "REQUIRED. Parent LDAP catalog IDentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\nOPTIONAL. Search process by unique .id",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "OPTIONAL. Filter(s) SET",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "template",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "objclass",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "failed",
            "description": "WITH .errs",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "enabled",
            "description": "created|updated",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "disabled",
            "description": "deleted",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog_id}/search": {
      "get": {
        "summary": "LDAPSearch performs LDAP Search operation ...",
        "operationId": "LDAP_LDAPSearch2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPSearchResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "----- connection -----\nOptional. ID of the preconfigured LDAP catalog",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "url",
            "description": "Optional. URL to establish connection to LDAP catalog\n\nURL e.g.: [(ldap|ldapi|ldaps)://]host[:port]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "tls.PEM",
            "description": "TODO: (!)\n\nbase64",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "byte"
          },
          {
            "name": "bind",
            "description": "----- BIND: Authorization -----\n\nauthorization method e.g.: SIMPLE, SAML, NTLM, etc.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "username",
            "description": "bind_dn",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "password",
            "description": "password",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "baseObject",
            "description": "----- SearchRequest -----\nbaseObject [D]istinguished[N]ame",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "scope",
            "description": "baseObject              (0),\nsingleLevel             (1),\nwholeSubtree            (2)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "derefAliases",
            "description": "neverDerefAliases       (0),\nderefInSearching        (1),\nderefFindingBaseObj     (2),\nderefAlways             (3)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sizeLimit",
            "description": "INTEGER (0 ..  maxInt),",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "timeLimit",
            "description": "INTEGER (0 ..  maxInt),",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "typesOnly",
            "description": "BOOLEAN,",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "filter",
            "description": "Filter,",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "attributes",
            "description": "AttributeSelection",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "post": {
        "summary": "LDAPSearch performs LDAP Search operation ...",
        "operationId": "LDAP_LDAPSearch",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPSearchResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "----- connection -----\nOptional. ID of the preconfigured LDAP catalog",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.LDAPSearchBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog_id}/templates": {
      "get": {
        "operationId": "LDAP_SearchLDAPTemplate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "REQUIRED. Parent LDAP catalog IDentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\nOPTIONAL. Search templates by .id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "OPTIONAL. Filter(s) SET",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "base_dn",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "objclass",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "disabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "delete": {
        "operationId": "LDAP_DeleteLDAPTemplate2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "REQUIRED. Parent LDAP catalog IDentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.DeleteLDAPTemplateBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{catalog_id}/templates/{id}": {
      "get": {
        "operationId": "LDAP_LocateLDAPTemplate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplate"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "REQUIRED. Parent LDAP catalog IDentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\nOPTIONAL. Search templates by .id",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "OPTIONAL. Filter(s) SET",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "base_dn",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "objclass",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "disabled",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "delete": {
        "operationId": "LDAP_DeleteLDAPTemplate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_id",
            "description": "REQUIRED. Parent LDAP catalog IDentifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\nOPTIONAL. Search templates by .id",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.DeleteLDAPTemplateBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{id}": {
      "get": {
        "summary": "Read LDAP catalog profile by .id",
        "operationId": "LDAP_LocateLDAPCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\n\nselection: by unique identifier",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "term-of-search: lookup[name]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "case-ignore substring match: ILIKE '*' - any; '?' - one",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "access",
            "description": "[M]andatory[A]ccess[C]ontrol: with access mode (action) granted!",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "delete": {
        "summary": "Delete LDAP profile(s) ...",
        "operationId": "LDAP_DeleteLDAPCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPCatalog"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "catalog id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "related_objects",
            "description": "WITH objects bound to ?",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/ldap/{template.catalog.id}/templates/{template.id}": {
      "put": {
        "operationId": "LDAP_UpdateLDAPTemplate2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplate"
            }
          }
        },
        "parameters": [
          {
            "name": "template.catalog.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "template.id",
            "description": "ID unique",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.UpdateLDAPTemplateBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      },
      "patch": {
        "operationId": "LDAP_UpdateLDAPTemplate",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LDAPTemplate"
            }
          }
        },
        "parameters": [
          {
            "name": "template.catalog.id",
            "description": "identifier",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "template.id",
            "description": "ID unique",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.LDAP.UpdateLDAPTemplateBody"
            }
          }
        ],
        "tags": [
          "LDAP"
        ]
      }
    },
    "/license": {
      "get": {
        "operationId": "Customers_LicenseUsage2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LicenseUsageResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "size",
            "description": "----- Search Options ----- //\n\ndefault: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "description": "default: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "set of output fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "user.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.name",
            "description": "display name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "domain.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain.name",
            "description": "display name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "customer_id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "description": "by serial number(s)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "product",
            "description": "by product name(s)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "valid",
            "description": "view: all|valid|grantable\n\nshow: available to be granted",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "q",
            "description": "filter: term of search",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/oauth/apps": {
      "get": {
        "operationId": "OAuth2Federation_SearchOAuthService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.SearchOAuthServiceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\n\nselection: by unique identifier",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "term-of-search: lookup[name]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "case-ignore substring match: ILIKE '*' - any; '?' - one",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "access",
            "description": "[M]andatory[A]ccess[C]ontrol: with access mode (action) granted!",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "enabled",
            "description": "----- OAuthService-Specific Filters ----------------",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      },
      "delete": {
        "operationId": "OAuth2Federation_DeleteOAuthService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeleteOAuthServiceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.DeleteOAuthServiceRequest"
            }
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      },
      "post": {
        "operationId": "OAuth2Federation_CreateOAuthService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.OAuthService"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.OAuthService"
            }
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      }
    },
    "/oauth/apps/{changes.id}": {
      "put": {
        "operationId": "OAuth2Federation_UpdateOAuthService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.OAuthService"
            }
          }
        },
        "parameters": [
          {
            "name": "changes.id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.OAuth2Federation.UpdateOAuthServiceBody"
            }
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      },
      "patch": {
        "operationId": "OAuth2Federation_UpdateOAuthService2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.OAuthService"
            }
          }
        },
        "parameters": [
          {
            "name": "changes.id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.OAuth2Federation.UpdateOAuthServiceBody"
            }
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      }
    },
    "/oauth/apps/{id}": {
      "get": {
        "operationId": "OAuth2Federation_LocateOAuthService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.OAuthService"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "----- Search Basic Filters ---------------------------\n\nselection: by unique identifier",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "page",
            "description": "----- Select Options -------------------------\n\ndefault: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "default: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "attributes list",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "term-of-search: lookup[name]",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "case-ignore substring match: ILIKE '*' - any; '?' - one",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "access",
            "description": "[M]andatory[A]ccess[C]ontrol: with access mode (action) granted!",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "enabled",
            "description": "----- OAuthService-Specific Filters ----------------",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      },
      "delete": {
        "operationId": "OAuth2Federation_DeleteOAuthService2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.DeleteOAuthServiceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.OAuth2Federation.DeleteOAuthServiceBody"
            }
          }
        ],
        "tags": [
          "OAuth2Federation"
        ]
      }
    },
    "/objclass": {
      "get": {
        "operationId": "Classes_SearchClasses",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.SearchClassesResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "domain",
            "description": "TO BE REMOVED // bound to session.domain.id",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "class",
            "description": "[filter]: like '%class%'",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "fields",
            "description": "int64 id = 3;  // [filter]: obj.id = id\ncontrols\n\noutput",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "sort: \"field\" asc; \"!field\" desc",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page",
            "description": "page number",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "page size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Classes"
        ]
      }
    },
    "/objclass/{class.id}": {
      "put": {
        "operationId": "Classes_UpdateClass",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateClassResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "class.id",
            "description": "(class::object).id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.Classes.UpdateClassBody"
            }
          }
        ],
        "tags": [
          "Classes"
        ]
      },
      "patch": {
        "operationId": "Classes_UpdateClass2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.UpdateClassResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "class.id",
            "description": "(class::object).id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.Classes.UpdateClassBody"
            }
          }
        ],
        "tags": [
          "Classes"
        ]
      }
    },
    "/objclass/{id}": {
      "get": {
        "operationId": "Classes_ReadClass",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.ReadClassResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "[filter]: obj.id = id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "domain",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "class",
            "description": "[filter]: like '%class%'",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Classes"
        ]
      }
    },
    "/permissions": {
      "get": {
        "summary": "GetPermissions list available from application",
        "operationId": "Permissions_GetPermissions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.SearchPermissionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "q",
            "description": "TermOfSearch",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "id",
            "description": "= ANY(id)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "not",
            "description": "\u003c\u003e ANY(not)",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "fields",
            "description": "controls\n\noutput",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "sort: \"field\" asc; \"!field\" desc",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "page",
            "description": "page number",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "page size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "Permissions"
        ]
      }
    },
    "/presence": {
      "patch": {
        "summary": "set(presence) (notify, error)",
        "description": "(UserPresence) {",
        "operationId": "Presence_SetStatus2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.PresenceStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/api.SetStatusRequest"
            }
          }
        ],
        "tags": [
          "Presence"
        ]
      }
    },
    "/products": {
      "get": {
        "operationId": "Customers_LicenseUsage3",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/api.LicenseUsageResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "size",
            "description": "----- Search Options ----- //\n\ndefault: 16",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "page",
            "description": "default: 1",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "set of output fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "e.g.: \"updated_at\" - ASC; \"!updated_at\" - DESC;",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "user.id",
            "description": "identifier",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "user.name",
            "description": "display name",
[...]
